<div class="buttons">
  <a class="btn btn-primary" href="<%= error_one_path %>">Trigger Error #1</a>
  <a class="btn btn-success" href="<%= error_two_path %>">Trigger Error #2</a>
  <a class="btn btn-info" href="<%= error_three_path %>">Trigger Error #3</a>
</div>
